body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 960px;
    max-height: calc(100vh - 20px * 2);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: auto;
}

.btn-container {
    border-radius: 5px;
    position: relative;
}

.alert-input-text {
    font-size: 16px;
    color: red;
    line-height: 16px;
}

input {
    transition: .3s ease;
    outline-style: solid;
    outline-width: 0;
    outline-color: gray;
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    line-height: 16px;
    box-sizing: border-box;
}

input:focus {
    outline-width: 1px;
    border-color: aquamarine;
    outline-color: aquamarine;
}

.input-text {
    padding-right: 105px;
}

.input-sbmt {
    cursor: pointer;
    background-color:darkcyan;
    border: 1px solid darkcyan;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}

.input-clean {
    cursor: pointer;
    background-color:darkcyan;
    border: 1px solid darkcyan;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px 0;
    box-sizing: border-box;
    gap: 5px;
    list-style: none;
    min-height: 46px;
    overflow-x: auto;
    background-color:darkcyan;
    border-radius: 5px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    color: #fff;
    font-weight: bolder;
    line-height: 16px;
    font-size: 16px;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.item__input-text {
    overflow-wrap: break-word;
    min-width: 200px;
    width: 100%;
    height: auto;
    border: none;
    padding: 0 0 0 5px;
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-weight: bolder;
    outline: none;
}

.item__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-right: 5px;
}

button {
    min-width: 150px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px;

    padding: 10px 5px;
}

.btn-edit {
    background-color: darkgreen;
    border: none;
    color: #fff;
    width: 150px;
    border-radius: 10px;
}

.btn-del {
    background-color: red;
    border: none;
    color: #fff;
    width: 150px;
    border-radius: 10px;
}